* {
    font-family: Baskerville, "Goudy Old Style", serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8ff;
}

.edge {
    fill: none;
    stroke: #73a567;
    stroke-width: 1px;
}

.edge.isMotherOf {
    stroke: #ff76b8;
}

.edge.isFatherOf {
    stroke: #6f93ad;
}

circle {
    fill: #fff;
    stroke: #999;
    stroke-width: 1px;
    cursor: move;
}

text {
    font-size: 13px;
    cursor: pointer;
    fill: #000;
}

text.shadow {
    stroke: #fff;
    stroke-width: 3px;
    stroke-opacity: 0.8;
}

marker#isMotherOf {
    fill: #ff76b8;
}

marker#isFatherOf {
    fill: #6f93ad;
}

#mmreasoner_legend {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    padding: 10px;
    width: 220px;
    height: auto;
    background: #fcfcfc;
    line-height: 1.6em;
    font-size: 0.85em;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    opacity: 0.85;
}

ul li {
    list-style: none;
}

span.leg_circ {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #999;
    border-radius: 6px;
    margin-right: 10px;
}

span.i18n {
    display: inline-block;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}